$green1: #A1E8AF;
$green2: #94C595;
$greengrey: #84A194;
$grey: #747C92;
$blue: #372772;
$purple: #3A2449;
$yellow: #F6BD60;
$pink: #F5B0CB;

body {
  margin: 0;
}

.root {
  position: relative;
  padding: 10px;
} 

.modals {
  position: absolute;
  overflow-x: hidden;
  overflow-y: visible;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
} 

.modals__background {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color .3s;
  position: absolute;
  width: 100%;
  height: 100%;
}

.modals__background--active {
  background-color: rgba(0, 0, 0, .7);
  pointer-events: auto;
}

.modal {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  transition: transform .2s;
  align-items: stretch;
  background-color: $greengrey;
} 

.modal__inner {
  width: 100%;
  position: relative;
  overflow: auto;
  pointer-events: auto;
} 

.modal__close-button {
  position: absolute;
  right: 10px;
  top: 10px;
} 

.modal--open {
  transform: translateX(0);
} 

.keyboard {
  margin: 70px;
  text-align: center;
}

.boards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.board {
  margin: 5px;
}

.board--solved .guesses {
  background-color: $pink;
}

.guess {
  display: flex;
  border: 1px solid black;
}

.guess__letter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin: 4px;
  border: 1px solid black;
  text-transform: uppercase;
}

.guess__letter--correct {
  background-color: $green1;
}

.guess__letter--present {
  background-color: $yellow;
}

.current-guess--placeholder {
  visibility: hidden;
}

.rules {
  flex: 1;
  overflow: auto;
}

.options {
  box-sizing: border-box;
  padding: 25px;
  display: inline-block;
  min-width: 100%;
}

.option {
  display: block;
  margin: 4px;
  border: 1px solid black;
  padding: 5px;
}

.option__values {
  display: flex;
}

.option__value--selected {
  background-color: green;
}

.option__value--unlocked {
  background-color: lightBlue;
}

.option__value--unlockable {
  background-color: yellow;
}

.option__value {
  height: 30px;
  width: 30px;
  flex-shrink: 0;
  position: relative;
  padding: 0;
}

.option__value-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.keyboard-letter {
  height: 35px;
  width: 35px;
  text-transform: uppercase;
  margin: 3px;
  position: relative;
  padding: 0;
}

.keyboard-letter__letter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.keyboard-letter--complete:not(.keyboard-letter--untouched) {
  background-color: $grey;
}

.keyboard-letter__background {
  width: 100%; 
  height: 100%; 
  display: flex;
}

.keyboard-letter__background-section {
  flex: 1;
}

.keyboard-letter:not(.keyboard-letter--complete):not(.keyboard-letter--untouched) .keyboard-letter__background-section--correct {
  background-color: $green1;
}

.keyboard-letter:not(.keyboard-letter--complete):not(.keyboard-letter--untouched) .keyboard-letter__background-section--present {
  background-color: $yellow;
}

.keyboard-letter:not(.keyboard-letter--complete):not(.keyboard-letter--untouched) .keyboard-letter__background-section--absent {
  background-color: $grey;
}
