$green1: #A1E8AF;
$green2: #94C595;
$greengrey: #84A194;
$grey: #747C92;
$blue: #372772;
$purple: #3A2449;
$yellow: #F6BD60;
$lightYellow: #FFD;
$lightGrey: #E2E2E2;
$pink: #F5B0CB;
$red: #f03;

$shadow-button: 1px 1px 3px black;
$shadow-raised: 0px 2px 3px grey;
$shadow-hover: inset 1px 1px 2px grey;
$shadow-active: inset 2px 2px 3px grey;
$shadow-inset: inset 1px 1px 5px grey;

body {
  margin: 0;
  font-family: system-ui;
}

#root {
  height: 100vh
}

.root {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh
} 

.main-content {
  flex: 1;
  margin-top: 5px;
  position: relative;
}

.main-game {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modals {
  position: absolute;
  overflow-x: hidden;
  overflow-y: visible;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
} 

.modals__background {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color .3s;
  position: absolute;
  width: 100%;
  height: 100%;
}

.modals__background--active {
  background-color: rgba(0, 0, 0, .7);
  pointer-events: auto;
}

.modal {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  transition: transform .2s;
  align-items: stretch;
  background-color: white;
} 

.modal__inner {
  width: 100%;
  position: relative;
  overflow: auto;
  pointer-events: auto;
} 

.modal__close-button {
  position: absolute;
  right: 10px;
  top: 10px;
} 

.modal--open {
  transform: translateX(0);
} 

.boards {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.board {
  margin: 5px;
  box-shadow: $shadow-inset;
  background-color: white;
  transition: background-color 1s;
}

.board--solved {
  background-color: $pink;
}

.guess {
  margin-top: 3px;
  display: flex;
}

.guess__letter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin: 4px;
  border: 1px solid black;
  text-transform: uppercase;
  background-color: white;
  box-shadow: $shadow-button;
}

.guess__letter--correct {
  background-color: $green1;
}

.guess__letter--present {
  background-color: $yellow;
}

.current-guess--placeholder {
  visibility: hidden;
}

.rules {
  flex: 1;
  overflow: auto;
}

.shop {
  box-sizing: border-box;
  padding: 25px;
  min-width: 100%;
}

.shop__close-button {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.results {
  text-align: center;
}

.results-title {
  margin: 45px;
  font-family: 'libre-baskerville';
  font-size: 1.25em;
}

.results-title--lost {
  color: red;
}

.results__close-button {
  font-family: kenia-regular;
  font-size: 2em;
  align-items: center;
  background-color: brown;
  border:none;
  color: #652121;
  display: inline-flex;
  height: 60px;
  justify-content: center;
  transform: rotate(-5deg);
  width: 300px;
  margin-top: 70px;
  box-shadow: 1px 1px 3px black;

  &:hover {
    box-shadow: inset 1px 1px 2px #652121;
  }

  &:active {
    box-shadow: inset 2px 2px 3px #652121;
  }
}

.results__close-button-inner {
  color: white;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0 30px 0;
}

.skill {
  position: relative;
  box-shadow: $shadow-raised;
  border-radius: 4px;
  box-sizing: border-box;
  width: 175px;
  margin: 12px;
  padding: 16px 0 16px 0;
  text-align: center;
}

.skill-spacer {
  width: 175px;
  margin: 0 12px 0 12px;
  height: 0;
}

.skill__description {
  background-color: brown;
  color: white;
  left: 0;
  padding: 6px;
  position: absolute;
  text-align: center;
  top: -17px;
  left: -3px;
  transform: rotate(-2deg);
  white-space: nowrap;
  width: 175px;
}

.option {
  display: inline-block;
}

.option__meter {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 6px;
  background-color: $greengrey;
}

.option__meter__inner {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: $green1;
}

.option-button {
  border: 0;
  border-radius: 3px;
  margin: 2px;
  height: 30px;
  width: 30px;
  flex-shrink: 0;
  position: relative;
  padding: 0;

  &--selected {
    background-color: green;
    color: white;
  }

  &--unlocked {
    background-color: lightBlue;
  }

  &--locked {
    background-color: yellow;
  }
}

.option-button__inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.option-button--random {
  width: 120px;
}

.keyboard {
  margin: 40px 0 70px 0;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.keyboard-row {
  margin: 4px 0 4px 0;
  text-align: center;
}

.keyboard-button {
  border: 0;
  background-color: white;
}

.keyboard-letter, .delete-button {
  height: 30px;
  width: 30px;
  text-transform: uppercase;
  margin: 2px;
  position: relative;
  padding: 0;
  vertical-align: middle;
}

.keyboard-letter__letter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.keyboard-letter--complete:not(.keyboard-letter--untouched) {
  background-color: $grey;
}

.keyboard-letter__background {
  width: 100%; 
  height: 100%; 
  display: flex;
}

.keyboard-letter__background-section {
  flex: 1;
}

.keyboard-letter:not(.keyboard-letter--complete):not(.keyboard-letter--untouched) .keyboard-letter__background-section--solved {
  background-color: $pink;
}

.keyboard-letter:not(.keyboard-letter--complete):not(.keyboard-letter--untouched) .keyboard-letter__background-section--correct {
  background-color: $green1;
}

.keyboard-letter:not(.keyboard-letter--complete):not(.keyboard-letter--untouched) .keyboard-letter__background-section--present {
  background-color: $yellow;
}

.keyboard-letter:not(.keyboard-letter--complete):not(.keyboard-letter--untouched) .keyboard-letter__background-section--absent {
  background-color: $grey;
}

.delete-button {
  font-size: .7em;
  background-color: $red;
}

.guess-button {
  width: 100%;
  max-width: 400px;
  height: 35px;
  text-transform: uppercase;
  margin: 20px 0 3px 0;
  padding: 0;
  position: relative;
  vertical-align: middle;
  font-size: 1.2em;
  background-color: $green1;
}

.xp {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: libre-baskerville;
  position: relative;
  border-radius: 9999999px;
  border: 1px dotted white;
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));
  // background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}

.xp__background-squiggle {
  top: -.15em;
  position: absolute;
  transform: scale(4.5, 3);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $pink;
  font-size: 1.2em;
  opacity: .3;

  & ~ & {
    transform: scale(-4.5, 3);
    color: $blue;
  }
}

.xp__label {
  font-variant-numeric: tabular-nums;
}

.xp__digit {
  display: inline-block;
  width: .65em;
  vertical-align: middle;
  text-align: center;
}

.results .xp {
  font-size: 3em;
}

.results .xp__background-squiggle {
  font-size: 2em;
}

.money {
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  padding: 2px 3px 2px 3px;
  background-color: $yellow;
}

.money__inner {
  border-radius: 9999px;
  background-color: black;
  padding: 5px 10px 5px 10px;
}

.money__label {
  color: $yellow;
  font-family: abril-fatface-regular;
}

.money__digit {
  display: inline-block;
  width: .65em;
  text-align: center;
}

.top-bar {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $lightGrey;
  box-shadow: $shadow-raised;
}

.button {
  box-shadow: $shadow-button;

  &:hover {
    box-shadow: $shadow-hover;
  }

  &:active {
    box-shadow: $shadow-active;
  }
}

.call-shot-button {
  margin: 10px;
  padding: 5px;

  &--active {
    background-color: $green1;
  }
}

.inventory {
  border: 1px solid black;
  margin: 15px;
  padding: 15px;
}

.inventory__item {
  display: inline-block;
  margin: 5px;
  border: 1px solid black;
  padding: 5px;
}

.equipment-inventory {
  border: 1px solid black;
  margin: 15px;
  padding: 15px;
}

.equipment-inventory__piece {
  display: inline-block;
  margin: 5px;
  border: 1px solid black;
  padding: 5px;
}

@font-face {
  font-family: 'kenia-regular';
  src: url('./assets/kenia-regular.ttf');
}

@font-face {
  font-family: 'abril-fatface-regular';
  src: url('./assets/abril-fatface-regular.ttf');
}

@font-face {
  font-family: 'libre-baskerville';
  src: url('./assets/libre-baskerville.ttf');
}
